<a href="https://colab.research.google.com/github/Mnurfhadlaazhar/fhadla-AJA-/blob/main/muhammad_nur_fhadla_azhar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mendefinisikan array S dengan 6 elemen integer
S = [4, 1, -1, 10, 0, 12]

# Menerima input integer D dari pengguna
D = int(input("Masukkan nilai D: "))

# Mengalikan setiap elemen dalam array S dengan D
S_baru = [elemen * D for elemen in S]

# Mencetak elemen-elemen array S yang baru
print("Array S setelah dikalikan dengan D:", S_baru)

Masukkan nilai D: 2
Array S setelah dikalikan dengan D: [8, 2, -2, 20, 0, 24]

In [2]:
T1 = [9, 12, 30, -1, 0, 4, -1, 3, 30, 14]
nilai_terbesarT1 = max(T1)
print ("nilai terbesar dari T1 adalah", nilai_terbesarT1)

nilai_terkecilT1 = min(T1)
print ("nilai terkecil dari T1 adalah", nilai_terkecilT1)

T2 = [1, 3, 5, 8, -12, 90, 3, 5]
nilai_terbesarT2 = max(T2)
print ("nilai terbesar dari T2 adalah", nilai_terbesarT2)

nilai_terkecilT2 = min(T2)
print ("nilai terkecil dari T2 adalah", nilai_terkecilT2)

nilai terbesar dari T1 adalah 30
nilai terkecil dari T1 adalah -1
nilai terbesar dari T2 adalah 90
nilai terkecil dari T2 adalah -12