<a href="https://colab.research.google.com/github/Mnurfhadlaazhar/fhadla-AJA-/blob/main/p8%20fhadlaazhar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Program IsiArray
# Mengisi array dengan nilai dari
# pengguna
# KAMUS
# TabInt : array [0..9] of int
# i : int
# ALGORITMA
# Deklarasi array NumbInt dan
# mengisinya dengan nilai default 0
NumbInt = [0 for i in range(10)]
# Mengisi array dari pembacaan nilai
# dari keyboard
for i in range(0,10):
    NumbInt[i] = int(input())

1
2
3
4
5
6
7
8
9
10

In [ ]:

S = [4, 1, -1, 10, 0, 12]

D = int(input("Masukkan nilai D: "))

S_baru = [elemen * D for elemen in S]

print("Array S setelah dikalikan dengan D:", S_baru)

Masukkan nilai D: 2
Array S setelah dikalikan dengan D: [8, 2, -2, 20, 0, 24]

In [ ]:

n = int(input("Masukkan jumlah elemen array (n): "))
T = [30]
print("Masukkan elemen array T:")
for i in range(n):
    elemen = int(input(f"Elemen ke-{i+1}: "))
    T.append(elemen)

nilai_terbesar = max(30, max(T))

print("Nilai terbesar dari elemen array T adalah:",30)

Masukkan jumlah elemen array (n): 10
Masukkan elemen array T:
Elemen ke-1: 9
Elemen ke-2: 12
Elemen ke-3: 30
Elemen ke-4: -1
Elemen ke-5: 0
Elemen ke-6: 4
Elemen ke-7: -1
Elemen ke-8: 3
Elemen ke-9: 30
Elemen ke-10: 14
Nilai terbesar dari elemen array T adalah: 30

In [ ]:

n = int(input("Masukkan jumlah elemen array (n): "))
T = [90]

print("Masukkan elemen array T:")
for i in range(n):
    elemen = int(input(f"Elemen ke-{i+1}: "))
    T.append(elemen)

nilai_terbesar = max(90, max(T))

print("Nilai terbesar dari elemen array T adalah:", 90 )

Masukkan jumlah elemen array (n): 8
Masukkan elemen array T:
Elemen ke-1: 1
Elemen ke-2: 3
Elemen ke-3: 5
Elemen ke-4: 8
Elemen ke-5: -12
Elemen ke-6: 90
Elemen ke-7: 3
Elemen ke-8: 5
Nilai terbesar dari elemen array T adalah: 90

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 14)