<a href="https://colab.research.google.com/github/Mnurfhadlaazhar/fhadla-AJA-/blob/main/p8__muhammadnurfhadlaazhar2C1240065__AGB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNDAMENTAL ARRAY**

In [3]:
arr = [10, 20, 30, 40]
arr

[10, 20, 30, 40]

In [4]:
list_numbers = [1, 2, 3, 4, 5]
list_numbers

[1, 2, 3, 4, 5]

In [6]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
list_numbers[0]

100

**MENDEKLARASIKAN ARRAY**

In [9]:
arr = [1, 2, 3, 4, 5]
arr

[1, 2, 3, 4, 5]

In [8]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
data

[1, 2, 3, 'hello', 5.5]

In [7]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
arr

[0, 0, 0, 0, 0]

In [ ]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [ ]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [38]:
 arr = [30, 45, 10, 20, 12, 7, 19, 13, 17, 2, 10, 27, 5, 29]

nilai_maksimum = max(arr)
print('nilai_maksimum',nilai_maksimum)

nilai_min = min(arr)
print('nilai_min',nilai_min)

penjumlahan =sum(arr)
print('penjumlahan',penjumlahan)

jumlah_arr =len(arr)
print('jumlah_arr',jumlah_arr)

rata_rata = penjumlahan/jumlah_arr
print('rata_rata',rata_rata)

nilai_maksimum 45
nilai_min 2
penjumlahan 246
jumlah_arr 14
rata_rata 17.571428571428573

In [42]:
 n = int(input("Masukkan jumlah elemen array (n): "))
T = [90]

print("Masukkan elemen array T:")
for i in range(n):
    elemen = int(input(f"Elemen ke-{i+1}: "))
    T.append(elemen)

nilai_terbesar = max(90, max(T))

print("Nilai terbesar dari elemen array T adalah:", 90 )

Masukkan jumlah elemen array (n): 8
Masukkan elemen array T:
Elemen ke-1: 1
Elemen ke-2: 3
Elemen ke-3: 5
Elemen ke-4: 8
Elemen ke-5: -12
Elemen ke-6: 90
Elemen ke-7: 3
Elemen ke-8: 5
Nilai terbesar dari elemen array T adalah: 90

In [43]:
0n = int(input("Masukkan jumlah elemen array (n): "))
T = [30]
print("Masukkan elemen array T:")
for i in range(n):
    elemen = int(input(f"Elemen ke-{i+1}: "))
    T.append(elemen)

nilai_terbesar = max(30, max(T))

print("Nilai terbesar dari elemen array T adalah:",30)

print('nilai terbesar dari elemen array')

Masukkan jumlah elemen array (n): 10
Masukkan elemen array T:
Elemen ke-1: 9
Elemen ke-2: 12
Elemen ke-3: 30
Elemen ke-4: -1
Elemen ke-5: 0
Elemen ke-6: 4
Elemen ke-7: -1
Elemen ke-8: 3
Elemen ke-9: 10
Elemen ke-10: 14
Nilai terbesar dari elemen array T adalah: 30